extends layout

block content
  
  -if (true)
    audio#bekos(controls='')
      source(src='/assets/alert.mp3', type='audio/mp3')
  script.
    var sound = document.getElementById("bekos"); 
    sound.style.display = "none";

    var play_sound = function() {
      
      console.log("bekos");
      sound.play();
    };

    

  h1= title
  p Welcome to #{title}

  img.className#bekosImage(src="/assets/bekos.png")
  
  button(onclick='play_sound()') Click

  script.
    for (var i = 0; i < 50; i++) {
      var newDiv = document.createElement("div");
      var newContent = document.createTextNode("bekos");
      newDiv.appendChild(newContent);
      newDiv.setAttribute("id", "div" + i);
      newDiv.setAttribute("style", "height: 2em");

      if (i != 0) {
        var latestDiv = document.getElementById("div" + i - 1);
        
        document.body.insertBefore(newDiv, latestDiv);
      }
    }