<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>βεκος</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.8/howler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <script>
        if (Cookies.get("name")){
            var name = Cookies.get("name")
        } else {
            var name = prompt("Name?")
            Cookies.set("name", name, { expires: 30 });
        }
        var sound = new Howl({
            //src: ['assets/alert.mp3']
            src: ['assets/Bekos.m4a'] 
        });

        var play_sound = function () {
            console.log("bekos");
            sound.play();
        };

        var socket = io();

        function broadcast_sound() {
            socket.emit('BEKOS');
        }

        socket.on("BEEKOS", function () {
            sound.play();
        })


    </script>
        <div class="big-container">
            <div class="action-bread">
                <button onclick="broadcast_sound()" style="visibility: hidden">
                    <img id="bekosImage" src="/assets/bekos.png" class="pure-img bread"  style="visibility: visible">
                </button>
            <h1 class="splash-head grow" onclick="broadcast_sound()">βεκος</h1>
            <p class="splash-subhead">
                Welcome to βεκος
            </p>
            <p>
                <button onclick="broadcast_sound()" class="pure-button pure-button-primary">βεκος</button>
            </p>
            </div>
        </div>

</body>

</html>