body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.box {
  position: relative;
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-xlarge {
  font-size: 125%;
}

.bread {
  margin-left:auto;
margin-right:auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


