body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none
}

.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

.bread {
  margin: auto;
}

.big-container {
  background-color: #1f8dd6;
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  color: white;
  position: relative;
}

.action-bread {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#changename {
  position: relative;
  top: 90%;
  margin:0 auto;
  font-size: 1.5rem;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}



.background-breathe {
  background-color: #1f8dd6;
  animation: animate-background 30s infinite;
}

.text-breathe {
  color: #1f8dd6;
  animation: animate-text 30s infinite;
}

@keyframes animate-background {
  0%,
  100% {
    background-color: #1f8dd6;
  }
  25% {
    background-color: #d61f8d;
  }
  50% {
    background-color: #d6681f;
  }
  75% {
    background-color: #1fd668;
  }
}

@keyframes animate-text {
  0%,
  100% {
    color: #1f8dd6;
  }
  25% {
    color: #d61f8d;
  }
  50% {
    color: #d6681f;
  }
  75% {
    color: #1fd668;
  }
}

/*
Add transition to containers so they can push in and out.
*/

#layout,
#menu,
.menu-link {
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: 200px;
  width: 200px;
}

#layout.active .menu-link {
  left: 200px;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*
  All anchors inside the menu should be styled like this.
  */

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

/*
  Remove all background/borders, since we are applying them to #menu.
  */

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
  Add that light border to separate items into groups.
  */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/*
      Change color of the anchor links on hover/focus.
      */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
  This styles the selected menu item `<li>`.
  */

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #000;
}

/*
      This styles a link within a selected menu item `<li>`.
      */

#menu .pure-menu-selected a {
  color: #fff;
}

/*
  This styles the menu heading.
  */

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/

.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  border-bottom-right-radius: 5px;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

#layout.active {
  position: relative;
  left: 200px;
}